<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app='NarrowItDownApp' ng-controller='NarrowItDownController as NarrowItDownController'>
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="NarrowItDownController.searchTerm" placeholder="Type your search item here. Can be in any case. Eg: EGGS, Eggs, eggs etc., " class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="NarrowItDownController.narrowItDown()">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <div ng-if="NarrowItDownController.found.length == 0" class="errorMessage"> Nothing found </div>
    <div ng-if="NarrowItDownController.found.length > 0" class="tableView">
      <found-items items="NarrowItDownController.found" on-remove="NarrowItDownController.removeItem(index)"></found-items>
    </div>

  </div>

</body>
</html>
